<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav-item">
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="['/welcome']">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        Products List
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        Add Product
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link">welcome{{userName}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Show Message</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link">Log In</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>